* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #020202;
  color: #f2f2f2;
}

nav {
  display: flex;
  border-bottom: 2px solid yellow;
  position: fixed;
  width: 100%;
  top: 0;
}

nav img {
  width: 65px;
  margin-left: 4rem;
}

nav ul {
  display: flex;
  width: 100%;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
}

nav .login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
  border: 1px solid yellow;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 9999px;
  text-decoration: none;
  color: yellow;  
}

section { 
  margin-top: 100px;
}

.title {
  text-align: center;
  margin: 1rem;
  color: red;
}

.init-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.init-section h2 {
  color: yellow;
}

.init-section p {
  width: 70vh;
  text-align: center;
}

.cartelera-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.cartelera-container h2 {
  margin: 3rem;
  text-align: center;
  font-size: h4;
  color: yellow;
}

.cartelera-container .cartelera {
  display: grid;
  gap: 2rem;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
}

.cartelera-container .cartelera .movie {
  display: flex;
  gap: 2rem;
  height: max-content;
  place-self: center;
}

.cartelera-container .cartelera .movie img{
  width: 15rem;
  height: auto;
}

.cartelera-container .cartelera .movie div {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cartelera-container .cartelera .movie h2{
  text-align: center;
}
.cartelera-container .cartelera .movie h3{
  text-align: center;
  color: chartreuse;
}
.cartelera-container .cartelera .movie h4{
  text-align: center;
  color: chocolate;
}

.cartelera-container .cartelera .movie a{
  text-align: center;
  margin: 2rem;
  color: #f2f2f2;
}

.cartelera-container .cartelera .more {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid yellow;
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login-container .login-form { 
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.login-container .login-form img {
  width: 100px;
}

.login-container .login-form .login-email {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-container .login-form .login-email input{
  border: 2px solid yellow;
  padding: 1rem;
  margin: 1rem;
  border-radius: 99999px;
  text-align: center;
}

.login-container .login-form .login-passwd {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-container .login-form .login-passwd input{
  border: 2px solid yellow;
  padding: 1rem;
  margin: 1rem;
  border-radius: 99999px;
  text-align: center;
}

.login-container .login-form .login-submit { 
  display: flex;
}

.login-container .login-form .login-submit button {
  display: flex;
  padding: 1rem;
  margin: auto;
  text-align: center;
  border: 2px solid yellow;
  color: yellow;
  border-radius: 99999px;
}
