<header>
  <nav>
    <a href="/">
      <img src="/imgs/logo.webp" alt="logo" />
    </a>
    <ul>
      <li>
        <a href="#">Géneros</a>
      </li>
      <li>
        <a href="#">Peliculas</a>
      </li>
      <li>
        <a href="#">Escritores</a>
      </li>
      <li>
        <a href="#">Directores</a>
      </li>
    </ul>
    <a href="/auth/login" class="login-btn">Login</a>
  </nav>
</header>