<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>  
    <%- include('../partials/navbar') %>
    <main>
      <h1 class="title">MikePelis</h1>
      <div class="init-section">
        <h2>Estrenos</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          reprehenderit maxime iusto inventore libero deleniti officia doloribus
          ratione adipisci quisquam temporibus earum blanditiis fuga alias iure
          est, eum laborum iste.
        </p>
      </div>

      <div class="cartelera-container">
        <h2>Cartelera del dia</h2>
        <div class="cartelera">
          <div class="movie">
            <img src="imgs/viernes13.webp" alt="" />
            <div>
              <h2>Viernes 13</h2>
              <h3>Sean S. Cunningham</h3>
              <h4>1980</h4>
              <a href="#">Ver trailler</a>
            </div>
          </div>
          <div class="movie">
            <img src="imgs/freddy.webp" alt="" />
            <div>
              <h2>Pesadilla en la calle Elm</h2>
              <h3>Wes Craven</h3>
              <h4>1984</h4>
              <a href="#">Ver trailler</a>
            </div>
          </div>
          <div class="movie">
            <img src="imgs/terrifier.webp" alt="" />
            <div>
              <h2>Terrifier 1</h2>
              <h3>Damien Leone</h3>
              <h4>2018</h4>
              <a href="#">Ver trailler</a>
            </div>
          </div>
          <div class="movie">
            <img src="imgs/avatar.webp" alt="" />
            <div>
              <h2>Avatar</h2>
              <h3>James Cameron</h3>
              <h4>2009</h4>
              <a href="#">Ver trailler</a>
            </div>
          </div>
          <div class="movie">
            <img src="imgs/tintin.webp" alt="" />
            <div>
              <h2>Las aventuras de Tintín</h2>
              <h3>Steven Spielberg</h3>
              <h4>2011</h4>
              <a href="#">Ver trailler</a>
            </div>
          </div>
          <div class="more">
            <a href="#">Ver mas...</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
