<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">
        <img src="../imgs/logo.webp" alt="logo" />
      </a>
      <ul>
        <li>
          <a href="#">Géneros</a>
        </li>
        <li>
          <a href="#">Peliculas</a>
        </li>
        <li>
          <a href="#">Escritores</a>
        </li>
        <li>
          <a href="#">Directores</a>
        </li>
      </ul>
      <a href="/auth/login" class="login-btn">Login</a>
    </nav>
    <section>
      <div class="login-container">
        
        <form action="" class="login-form">
          <div class="login-img">
            <img src="../imgs/login.png" alt="login icon">
          </div>
          <div class="login-email">
            <label for="email">Correo</label>
            <input placeholder="example@thisismail.ej" type="email" name="email" id="email">
          </div>
          <div class="login-passwd">
            <label for="passwd">Contraseña</label>
            <input placeholder="Ingresa tu contraseña" type="password" name="passwd" id="passwd">
          </div>
          <div class="login-submit">
            <button type="submit">Iniciar</button>
          </div>
        </form>
      </div>
    </section>
  </header>
</body>
</html>